/* google fonts link  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

/* CSS Reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --roboto: 'Roboto', sans-serif;
}
body{
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;

}

/* Header part start here  */
nav .brand{
    font-size: 22px;
    font-weight: 700;
}
.nav-item{
    font-size: 1.6rem;
}

.carousel-inner #active-carousel{
    position: relative;
}

#active-carousel::before {
    position: absolute;
    content: '';
    background: #000000ed;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
}
#active-carousel:first-child:before {
    position: absolute;
    content: '';
    background: #000000ed;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.0;
}
.carousel-caption{
    z-index: 2;
}
.carousel-item img {
    height: 80vh;
    width: 100%;
}
.carousel-heading{
    font-size: 4.8rem;
    font-weight: 600;
}
.carousel-text{
    font-size: 1.6rem;
}
.book-btn{
    font-size: 1.5rem;
    /* padding: 1rem 1.5rem; */
    font-weight: 600;
    padding: 12px 35px;
    border: none;
    outline: none;
    margin-bottom: 30px;

}
